{% include header.html %}

<div class="wrap">
    <div class="container container-left">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                {% include sidebar.html %}
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</div>
<style>
  table{
    font-size: 17px;
    margin: 0 0 2em 0;
    border-left:1px solid #34495e;
	  border-top:1px solid #34495e;
    width: 100%;
    word-wrap:break-word;
	  word-break:break-all 
  }
  table th,td{
    text-align:center;
    border-right:1px solid #34495e;
	  border-bottom:1px solid #34495e
  }

  table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}
</style>